<p><p a>
<style>
body{background:#8D1C24}
p{position:fixed;width:140;height:140;border:70px solid #EC9140;border-radius:50%;border-top-color:transparent;box-sizing:border-box;rotate:135deg;top:49;left:80}
[a]{left:180;rotate:-45deg;top:79;}


</style>
