<a><b>
<style>
body{background:#66284A}
a{background:#F0CD48;border-radius:20px;position:fixed;width:140;height:140;top:100;left:150;box-shadow:0 0 0 10px #66284A,-40px -40px #F0CD48}
b{background:#66284A;position:fixed;width:30;height:30;border-radius:50%;top:120;left:170;box-shadow:0 70px #66284A,70px 0 #66284A,70px 70px #66284A,35px 35px #66284A}
</style>
