<p><p a><b>
<style>
*{background:#A9C482}
p{position:fixed;width:80;height:50;border-radius:100px 100px 0 0;left:60;top:24;border:40px solid #2D696F;border-bottom:0}
[a]{rotate:180deg;top:154;left:180}
b{position:fixed;background:#2D696F;width:40;height:170;left:-40;top:50;box-shadow:240px -130px #2D696F}
</style>
