<a><style>
*{background:#FEFAE0}
a{background:#9CCCDB;position:fixed;width:50;height:50;left:175;top:25;box-shadow:0 200px #9CCCDB,100px 100px #9CCCDB,-100px 100px #9CCCDB,0 100px 0 25px #9CCCDB}
</style>
