<p><p a>
<style>
*{background:#A9C482}
p{width:150;border:50px solid transparent;border-top:none;border-bottom:100px solid #2D696F;position:fixed;left:75;top:59}
[a]{height:150;border:none;background:#2D696F;left:125}
</style>
