<p><p a><style>
body{background:#602054;margin:100;border:20px solid#ECDFEA;box-shadow:0 0 0 20px#602054,0 0 0 40px#ECDFEA}p{background:#ECDFEA;width:20;height:40;border:solid #602054;border-width:0 20;margin:-60 50;-webkit-box-reflect:below 100px}[a]{position:fixed;rotate:90deg;left:0;top:190;-webkit-box-reflect:above 200px}</style>
