<div id="a"><div id="b"><div id="c">
<style>
body{background:#FDFBF8;display:flex;justify-content:center;align-items:center}
#a{background:#D86F45;width:160;height:200;border-radius:20px}
#b,#c{position:fixed;background:#FDFBF8}
#b{width:120;height:80;left:140;top:70;border-radius:10px}
#c{width:50;height:50;top:175;left:175;border-radius:50%}
</style>
