<a><b>
<style>
*{background:#B5D1FB}
a,b{position:fixed}
a{background:#8819F6;width:60;height:220;border-radius:50px;left:110;top:120;box-shadow:120px -160px #8819F6}
b{background:#230259;width:60;height:60;border-radius:50px;top:30;box-shadow:120px 180px #230259}
</style>
