<a><style>*{background:#813131}
a{position:fixed;width:50;height:50;border:30px solid#FFFCDF;left:145;top:95;box-shadow:-80px -80px 0 -30px #FFFCDF,80px -80px 0 -30px #FFFCDF,-80px 80px 0 -30px #FFFCDF,80px 80px 0 -30px #FFFCDF}
</style>
