<a><b>
<style>
*{background:#5E2D8C}
a{position:fixed;background:#F7ED5A;width:120;height:40;left:140;top:130;box-shadow:0 0 0 40px #5E2D8C,0 0 0 80px #F7ED5A}
b{background:#5E2D8C;position:fixed;width:40;height:120;top:50;left:180}
</style>
