<p><p a><p b>
<style>
*{background:#B5D1FB}
p{background:#230259;width:300;height:75;position:fixed;border-radius:75px 75px 0 0;top:59;left:-85;box-shadow:270px 0 #8819F6}
[a]{left:185;top:134;rotate:180deg}
[b]{width:250;height:90;background:#B5D1FB;border-radius:75px;top:89;left:-65;box-shadow:280px 0 #B5D1FB}
</style>
