<a></a>
<style>
body{background:#5E2D8C;height:120;width:200;border:30px solid#42A5F5;margin:60 70}
a{position:fixed;width:90;height:60;background:#42A5F5;margin:30 -5;box-shadow:120px 0 #42A5F5}
</style>
