<a>
<style>
*{background:#62306D}
a{position:fixed;background:#F7EC7D;width:120;height:120;border-radius:50%;left:140;top:90;box-shadow:0 0 0 20px #62306D,80px 0 0 -30px #F7EC7D,-80px 0 0 -30px #F7EC7D,0 80px 0 -30px #F7EC7D,0 -80px 0 -30px #F7EC7D}
</style>
