<a><b>
<style>
*{background:#B5D1FB}
a{position:fixed;background:#8819F6;width:130;height:30;left:135;top:135;box-shadow:0 0 0 30px #B5D1FB,0 0 0 60px #230259}
b{position:fixed;background:#8819F6;width:30;height:200;left:185;box-shadow:30px 30px #B5D1FB,-30px 30px #B5D1FB}
</style>
