<a><b><c>
<style>
*{background:#F58220}
a,b,c{background:#FFFFFF;position:fixed}
a{width:280;height:180;left:60;top:60;border-radius:100px}
b{width:160;height:60;left:120;top:120;border-radius:50px;box-shadow:0 0 0 30px #F58220}
c{width:30;height:120;border-top:30px solid #F58220;border-bottom:30px solid #F58220;left:185;top:60}
</style>
