<p><p a>
<style>
*{background:#3C31A0;margin:0}
p{background:#E5DDD9;width:150;height:50;border:solid #E5DDD9;border-width:0 75 0 75;padding:0 50;background-clip:content-box;position:fixed;top:125}
[a]{rotate:90deg}
</style>
