<a class="t"></a>
<a class="l"></a>
<a class="r"></a>
<a class="b"></a>
<style>
*{background:#4F77FF}
a{background:#FFFFFF;position:fixed}
.t,.l,.r,.b{width:139;transform: translate(-50%,-50%);height:70;border-radius:150px 145px 0 0;left:234;top:80}
.l{rotate:270deg;left:95;top:11}
.r{rotate:90deg;left:165;top:219}
.b{rotate:180deg;top:150;left:26}
</style>
