<a><style>
body{background:#4F77FF}a{position:fixed;background:#003AFF;width:150;height:275;rotate:-45deg;bottom:-90;right:22}a::after{content:"";position:fixed;background:#FFFFFF;width:150;height:150;top:-83;border-radius:50%;}</style>
