<a><b>
<style>
*{background:#FEFAE3}
a{background:#D4A469;position:fixed;width:160;height:40;top:50;left:100;box-shadow:40px 160px #D4A469}
b{background:#B17036;position:fixed;width:40;height:160;top:90;box-shadow:160px -40px #B17036}
</style>
