<a></a>
<style>
body{background:#926927;display:flex;justify-content:center;align-items:center}
a{width:200;height:200;background:linear-gradient(to left,#FFEBCB 50%,#F8B140 50%);border-radius:100%}
</style>
