<a><b>
<style>
*{background:#E69041}
a,b{background:#221F20;position:fixed}a{top:110;left:80;width:240;height:120;border-radius:0px 0px 200px 200px}
b{width:80;height:80;border-radius:50%;left:160;top:70;box-shadow:0 0 0 40px #E69041}
</style>
