<div><a></a></div>
<style>
body{background:#5E2948}
div{background:#E7A366;width:220;height:160;margin:70 82;position:relative;overflow:hidden}
a{width:700;height:570;position:absolute;border:20px solid #5E2948;border-radius:50%;left:-260;top:90;box-shadow:0 -20px #E7A366,0 -40px #5E2948}
</style>
