<a>
<style>
body{background:#A9C482;display:flex;justify-content:center;align-items:center}
a{background:#A9C482;width:120;height:120;border-radius:50%;box-shadow:0 65px 0 -20px #2D696F,0 -65px 0 -20px #2D696F,65px 0 0 -20px #2D696F,-65px 0 0 -20px#2D696F}
</style>
