<a><b>
<style>
*{background:#FEFAE3}
a{position:fixed;background:#D4A469;width:180;height:50;left:110;top:125;border-radius:50px}
b{background:#B17036;position:fixed;width:50;height:150;border-radius:50px;rotate:45deg;left:135;top:40;box-shadow:106px -6px #B17036}
</style>
